---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=400%20SW%206th%20Avenue,%20Portland,%20Oregon,%2097214&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "400",
                       "short_name" : "400",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Southwest 6th Avenue",
                       "short_name" : "SW 6th Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Southwest Portland",
                       "short_name" : "Southwest Portland",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
  [...]
