$('#new_beer_form').remove();
$('#new_beer_link').show();
$('#beers').append('<div class="col-sm-6"><%= j render @beer %></div>');
$('#shares').html(<%= @user.beers.count %>)
$('#no_beers_msg').remove();
