/*
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 h1 {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 50px;
  line-height: 65px;
 }

 p {
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 16px;
  line-height: 25px;
 }

ul {
   list-style: none;
 }

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.jumbotron {
  background: url("beers.jpg") no-repeat center center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  position: relative;
}

.push-space {
  height: 250px;
}

.test {
  max-width: 750px;
}

.jumbotron-text {
  position: absolute;
  color: #FFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  line-height: 1em;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 70px;
  padding-bottom: 80px;
  margin-bottom: 80px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #67989A;
  text-align: center;
}

.text-muted {
  width: auto;
  padding: 0 15px;
  color: #fff;
}

@media (max-width: 700px){
  .push-down img {
    display: none;
  }
  .jumbotron {
    display:none;
  }
  .post-image {
    display:none;
  }
}

.navbar-nav {
  float: right;
}

.navbar {
  min-height: 70px;
  padding: 10px;
  background-color: #67989A;
  color: #FFFFFF;
}

.navbar .nav > li > a {
  font-size: 1.3em;
  color:  #fff;
  margin-top: 10px;
}

.navbar-default {
  border-color: transparent;
}

.navbar-brand {
  padding: 0 15px;
  margin-top: 5px;
}

.navbar-brand img {
  margin-left: 20px;
}

.round-image-50 {
  background-color: white;
  border: 1px solid #417D80;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
  margin: 10px;
}

.profile_avatar {
  margin: 0 auto;
}

.rounded {
  height: 245px;
  width: 245px;
  border-radius: 3%;
  overflow:hidden;
}

.push-down {
  margin-top: 10px;
}

.post-image {
  float:right;
  margin: 20px;
}

.rounded-small {
  max-height: 250px;
  max-width: 250px;
  border-radius: 5px;
  overflow:hidden;
}

.button-teal {
  background-color: #67989A;
  color: #fff;
}

.button-blue {
  background-color: #4F618F;
  color: #fff;
}

.button-red {
  background-color: #D46D6A;
  color: #fff;
}

.button-green {
  background-color: #54A759;
  color: #fff;
}

.button-tan {
  background-color: #D4B26A;
  color: #fff;
}

.btn {
  margin-top: 5px;
}
