/*
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

//general app-wide layouts and div/text styling
 h1 {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 50px;
  line-height: 65px;
 }

 p {
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 16px;
  line-height: 20px;
 }

ul {
   list-style: none;
 }

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.indent {
  padding-left: 25px;
}

.edge {
  margin-right: 10px;
}

.margin-left {
  margin-left: 5px;
}

.margin-right {
  margin-right: 5px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.smaller {
  font-size: .75em;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  margin-bottom: 160px;
  background-color: inherit;
}

@media (max-width: 850px){
  .post-image {
    display:none;
  }
  .beer-image-small {
    height: 50px;
    weight: auto;
  }
  .map-col {
    display:none;
  }
}

.push-down {
  margin-top: 50px;
}

.push-down-lite {
  margin-top: 25px;
}

.push-way-down {
  margin-top: 100px;
}

//jumbotron-style divs
.top {
  color: #fff;
  margin: none;
  padding: none;
}

.top-home {
  height: 600px;
  background-color: #236467;
}

.top-news {
  height: 250px;
  background-color: #236467;
}

.welcome {
  padding-top: 75px;
}

.welcome-small {
  padding-top: 50px;
}

.last {
  // padding-top: 75px;
  padding-bottom: 100px;
}

//navbar and footer
.navbar-nav {
  float: right;
}

.navbar {
  min-height: 70px;
  padding: 10px;
  background-color: #236467;
  color: #FFFFFF;
}

.navbar .nav > li > a {
  font-size: 1.3em;
  color:  #fff;
  margin-top: 10px;
}

.navbar-default {
  border-color: transparent;
}

.navbar-brand {
  padding: 0 15px;
  margin-top: 5px;
}

.navbar-brand img {
  margin-left: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
  background-color: #334D5C;
  text-align: center;
}

.text-muted {
  width: auto;
  padding: 0 15px;
  color: #fff;
}

// images and maps
.round-image-50 {
  background-color: #417D80;
  border: 1px solid #417D80;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
  margin: 10px;
}

.profile_avatar {
  margin: 0 auto;
}

.rounded-profile {
  height: 195px;
  width: 195px;
  border-radius: 3%;
  overflow:hidden;
}

.post-image {
  float:right;
  margin: 20px;
}

.rounded-post {
  max-height: 250px;
  max-width: 250px;
  border-radius: 5px;
  overflow:hidden;
}

.beer-image {
  height: 150px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.beer-image-small {
  height: 100px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.home-icons {
  height: 75px;
  width: auto;
  display: block;
  margin: 0 auto;
}

#map {
  width: 300px;
  height: 275px;
  display: block;
  margin: 0 auto;
}

// buttons and text colors
.join-button {
  color: #000;
}

.button-text {
  font-size: 2em;
}

.button-teal {
  background-color: #67989A;
  color: #fff;
}

.button-blue {
  background-color: #334D5C;
  color: #fff;
}

.button-red {
  background-color: #D46D6A;
  color: #fff;
}

.button-green {
  background-color: #54A759;
  color: #fff;
}

.button-tan {
  background-color: #EFC84A;
  color: #fff;
}

.btn {
  margin-top: 5px;
  // font-size: 0.75em;
}

.blue {
  color: #2E4172;
}

.teal {
  color: #67989A;
}

.green {
  color: #54A759;
}

.white-back {
  background-color: #ffffff;
}

.gray-back {
  background-color: #f1f1f1;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:#fff;
    background-color:#EFC84A;
    }

//etc.

.middle {
  padding: none;
  margin: none;
  background-color: #fff;
}

.process {
  padding: none;
  width: auto;
  margin: none;
  background-color: #fff;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.bottom {
  padding-bottom: 75px;
}

.beer-tile {
  min-height: 240px;
}

.no-indent {
  padding: 0;
  list-style-type: none;
}
