/*
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 h1 {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 50px;
  line-height: 65px;
 }

 p {
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 16px;
  line-height: 25px;
 }

ul {
   list-style: none;
 }

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.top {
  color: #fff;
  margin: none;
  padding: none;
}

.top-home {
  height: 600px;
  background-color: #236467;
}

.top-news {
  height: 250px;
  background-color: #236467;
}

.welcome {
  padding-top: 75px;
}

.welcome-small {
  padding-top: 50px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 160px;
  margin-bottom: 160px;
  background-color: #f1f1f1;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
  background-color: #236467;
  text-align: center;
}

.text-muted {
  width: auto;
  padding: 0 15px;
  color: #fff;
}

@media (max-width: 700px){
  .jumbotron {
    display:none;
  }
  .post-image {
    display:none;
  }
}

.navbar-nav {
  float: right;
}

.navbar {
  min-height: 70px;
  padding: 10px;
  background-color: #236467;
  color: #FFFFFF;
}

.navbar .nav > li > a {
  font-size: 1.3em;
  color:  #fff;
  margin-top: 10px;
}

.navbar-default {
  border-color: transparent;
}

.navbar-brand {
  padding: 0 15px;
  margin-top: 5px;
}

.navbar-brand img {
  margin-left: 20px;
}

.round-image-50 {
  background-color: white;
  border: 1px solid #417D80;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
  margin: 10px;
}

.profile_avatar {
  margin: 0 auto;
}

.rounded {
  height: 245px;
  width: 245px;
  border-radius: 3%;
  overflow:hidden;
}

.push-down {
  margin-top: 50px;
}

.push-way-down {
  margin-top: 100px;
}

.post-image {
  float:right;
  margin: 20px;
}

.rounded-small {
  max-height: 250px;
  max-width: 250px;
  border-radius: 5px;
  overflow:hidden;
}

.button-teal {
  background-color: #67989A;
  color: #fff;
}

.button-blue {
  background-color: #334D5C;
  color: #fff;
}

.button-red {
  background-color: #D46D6A;
  color: #fff;
}

.button-green {
  background-color: #54A759;
  color: #fff;
}

.button-tan {
  background-color: #EFC84A;
  color: #fff;
}

.btn {
  margin-top: 5px;
}

.beer-tile {
  background-color: #F2D379;
}

.beer-image {
  height: 150px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.beer-image-small {
  height: 100px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.join-button {
  color: #000;
}

.flash {
  background-color: inherit;
  margin: none;
  padding: none;
}

#map {
  width: 500px;
  height: 400px;
}

.blue {
  color: #334D5C; 
}
